body{
    margin: 0;
    font-family: 'Montserrat';
    font-family: 'Ubuntu';
    font-size: 15px;

    /*Меж строчный отступ*/
    color:black;
}


header{
    position: relative;
    height: 650px;
}

.container{
    margin-left: 97px;
    position: relative;
    z-index: 1000;
}

.header__inner{
    margin-left: 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.fonm{
    position: absolute;
    width: 100%;
    height: 650px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: linear-gradient(259.31deg, rgba(0, 0, 0, 0.8) 134.7%, rgba(255, 255, 255, 0.8) 70.26%);
    z-index: 500;
}



.imglogo{
    height: 19.244050979614258px;
    width: 112.78357696533203px;
    left: 154.110595703125px;
    top: 34px;
    border-radius: 0px;
    
    }

.fon_container{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    padding: 10px;
    list-style-type: none;
}

.header__inner{
    margin-left: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}


nav li {
   
    margin-left: 10px;
    list-style-type: none;height: 14px;
    text-align: center;
}


.menu { 
    font-family: 'Ubuntu';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0.06em;
    text-align: left;
    margin-left: 30px;
    color: rgba(255, 255, 255, 1);
    white-space: nowrap;
    height: 10px;
    width: 56px;

    border-radius: nullpx;
    text-decoration: none;

}


.number{
    height: 14px;
    width: 144px;
    left: 1085px;
    top: 37px;
    border-radius: nullpx;
    color: rgba(255, 255, 255, 1);
}

.cvetafon {
    color: white;
    background-color: rgb(0, 0, 0,0);
    opacity: 0.5;
    border: 0px;
}

.cvetafon option{
    background-color: rgb(0, 0, 0,0);
    color: black; 
}


.obolochkaOkon{
    margin-top: 130px;
    margin-left: 70px;
    position: relative;
    z-index: 500;
    max-width: 1180px;
    display: flex;
    flex-direction: row;
}
.okno1{
    position: relative;
    height: 306px;
    max-width: 506px;
    border-radius: 5px;
    float: left;
}


.podderhka{
    position: relative;
    height: 120px;
    width: 506px;
    margin-top: -45px;
    border-radius: nullpx;
    font-family: 'Montserrat';
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

    
}



.podpodderhka{
    margin-top: 15px;
    height: 56px;
    width: 486px;
    border-radius: nullpx;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    
}

.knopkablock{
    cursor: pointer;
    position: absolute;
    margin-top: 55px;
    height: 60px;
    width: 220px;
    border-radius: 5px;
    border: 3px solid #F14D34;
    box-sizing: border-box;
    display: flex;

    
}
.knopka h3 a{
    color: white;
    text-decoration: none;
}
.knopkablock:hover {
    cursor: pointer;
    color: #FFFFFF;  
    background-color: #F14D34;
}


.knopka{
    text-decoration: none;
    height: 12px;
    width: 219px; 
    margin-top: 15px;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-align: center;
    color: white;
        
}


.okno2{
    margin-left: 97px;
    position: relative;
    height: 292px;
    max-width: 593px;
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;

}

.block1{
    position: relative;
    height: 80px;
    width: 180px;
    border-radius: 5px;
    

}

.podsvetka1{position: absolute;
    height: 80px;
    width: 3px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #F14D34;

}

.vce{
    position:relative;
    width: 147px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.vceT1{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -30px;
}
.cifra{
    position: absolute;
    padding-left: 10px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;


}

.cifra1{position: relative;
    height: 59px;
    width: 54px;
    bottom: -10px;
    border-radius: nullpx;
    font-family: 'Montserrat';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;        
}

.imgb1{
    height: 58px;
    width: 59px;
    left: 800px;
    top: 204px;
    border-radius: 0px;
    

}

.T1{margin-left: 10px;
    position: relative;
    height: 45px;
    width: 161px;
    border-radius: nullpx;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    
}


.druplicon{
    position: absolute;
    z-index: 500;
    top: 0px;
    left: 0px;max-height: 650px;
}
.druplicon img {
    max-height: 650px;
}
.vidio{
    width: 100%;
    position: absolute;
    height: 650px;
    z-index: 250;
}
.vidio video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}







/*blockstr1*/

.blockstr1{
    
    margin: 0 auto;
    height: 716px;
    width: 1082px;
    border-radius: 0px;

}

.zagolovok{
    margin-top: 100px;
    height: 153px;
    width: 580px;
    font-family: 'Montserrat';
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    color:black;
}


.podzagolovok{
    height: 44px;
    width: 493px;
   
    margin-top: 18px;
    border-radius: nullpx;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(5, 12, 51, 1);
}

.obolochkaokon2{
   
    height:500px; 
    width: 1082px;
    padding-top: 63px;
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.adv2{
   
    border-radius: 5px;
    flex-direction: column;
    padding-right: 117px;
    padding-bottom: 26px;
}

.icons{
    
    height: 81px;
    width: 81px;
   
    border-radius: 0px;  
}

.icon-bg{
    position: relative;;
    height: 71px;
    width: 114px;
    left: -140px;
    top: 10px;
    border-radius: 0px; 
    
}

.Text{
    height: 88px;
    width: 182px;
    
    border-radius: nullpx;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 18px;
}














/*blockstr2*/

.blockstr2{
    position: relative;
    height: 1438px;
    margin: 0 auto;
   
}

.zagolovokPoddergka{
    margin: 0 auto;
    margin-top: 182px;
    height: 102px;
    width: 406px;
   
    border-radius: nullpx;
    font-family: 'Montserrat';
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

.Group{
    position: relative;
    height: 589px;
    width: 1204px;
    margin: 0 auto;
    margin-top: 56px;
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;
    
}
.adv3{
    height: 292px;
    width: 292px;
    margin-right: 5px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-right: 5px ;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #FFFFFF;

}
.Text01{
    position: relative;
    height: 15px;
    width: 232px;
    left: 26px;
    top: 15px;
    padding-bottom: 20px;
    border-radius: nullpx;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.Тextpod01{
    position: relative;
    height: 66px;
    width: 242px;
    left: 25px;
    margin-top:20px;
    border-radius: nullpx;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
.Textpodtext01{
    position: relative;
    height: 132px;
    width: 231px;
    left: 25px;
    margin-top: 12px;
    border-radius: nullpx;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    z-index: 1;
}

.kartinkaposle{
    position: relative;
    height: 103.99999237060577px;
    width: 104px;
    left: 185px ;
    top: -65px;
    bottom: 0px;
    right: 0px;
    border-radius: 0px;
    z-index: 0;
}


.Group2{
    height: 839px;
    border-radius: 0px;
    position: relative;
    background: #0C0E1AFF;
    width: 100%;
    top: -210px;
    height: 839px;
    z-index: -4;
}


.vectorr{
    position: absolute;
    z-index: -3;
    margin-left: 670px;
}

.comand{    
    position: relative;
    height: 268px;
    width: 582px;
    margin-top: 600px;
    margin-left: 765px;
    display: flex;
    flex-direction: row;
}

.blochoku{
    position: relative;
    height: 88px;
    width: 277px;
    margin-left: -40px;
    margin-top: -100px;
}

.podsvetka2{
    position: absolute;
    height: 100px;
    width: 3px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #F14D34;

}

.nadpis{
    height: 60px;
    width: 200px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    margin-left: 20px;
    text-align: left;
    color: white;
   


}

.ekspertiza{
    position: relative;
    top: 405px;
    left: 730px;
    height: 102px;
    width: 480px;
    font-family: 'Montserrat';
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    color: white;
    z-index: 4;
}

.komputer {  
    position: absolute;
    height: 517px;
    width: 660px;
    left: -50px;
    bottom: -100px;
}













/* blockstr3 */

.plans {
    position: relative;
    top: -70px;
}
 
.plans::after {
    content: url(../images4/D.svg);
    position: absolute;
    top: -150px;
    right: 0;
    z-index: -1;
    opacity: 1;
}
 
.plans__title {
    margin-top: 160px;
    margin-right: 35px;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
}
 
.plans__items {
    position: relative;
    margin-left: 130px;
    display: flex;
}
 
.plans__button {
    margin-top: 43px;
    border: 1px solid #F14D34;
    border-radius: 5px;
    justify-content: center;
    width: 260px;
    height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #F14D34;
    text-decoration: none;
}
 
.plans__button:hover {
    cursor: pointer;
    color: #FFFFFF;  
    background-color: #F14D34;
}
 
.plans__item1:hover,
.plans__item2:hover,
.plans__item3:hover {
    box-sizing: inherit;
    margin-top: 60px;
    box-shadow: 0px 4px 60px rgba(162, 162, 162, 0.25);
    width: 420px;
    height: 675px;
}
 
.plans__item1,
.plans__item2,
.plans__item3 {
    margin-top: 86px;
    width: 390px;
    height: 639px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 78px 60px 48px 60px;
}
 
.plans__item1-top,
.plans__item2-top,
.plans__item3-top {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
 
.plans__item1-container,
.plans__item2-container,
.plans__item3-container {
    display: flex;
}
 
.plans__item1-name,
.plans__item2-name,
.plans__item3-name {
    font-size: 22px;
    line-height: 27px;
    color: #F14D34;
    font-weight: 700;
}
 
.plans__item1-price,
.plans__item2-price,
.plans__item3-price {
    font-size: 72px;
    line-height: 72px;
    text-transform: uppercase;
    color: #050C33;
}
 
.plans__item1-val,
.plans__item2-val,
.plans__item3-val {
    font-size: 28px;
    line-height: 28px;
    color: #050C33;
    margin-bottom: 40px;
}
 
.plans__item1-time,
.plans__item2-time,
.plans__item3-time {
    font-size: 16px;
    line-height: 20px;
}
 
.plans__item1-ul,
.plans__item2-ul,
.plans__item3-ul {
    margin-top: 40px;
    font-size: 14px;
    line-height: 20px;
    color: #050C33;
    opacity: 0.7;
    padding-left: 31px;
    position: relative;
}
 
.plans__item1-ul li,
.plans__item2-ul li,
.plans__item3-ul li {
    margin-bottom: 20px;
    list-style-type: none;
}
 
.plans__item1-ul li::before,
.plans__item2-ul li::before,
.plans__item3-ul li::before {
    content: url(../images4/Vector.png);
    position: absolute;
    left: 0;
    color: #F69C8F;
}
 
.plans__text1 {
    width: 468px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #050C33;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: 74px;
    margin-bottom: 26px;
}
 
.plans__text2 {
    width: 350px;
    letter-spacing: 0.06em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #050C33;
    margin: 0 auto;
}

