*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}



/*_______SLIDER_SNAMI___________________________SLIDER_SNAMI_________________________________________SLIDER_SNAMI__________________*/

.Slider_Snami{
	height: 323px;
	padding: 50px;
	max-height: 100%;
	justify-content:center;
	align-items: center;
	margin-bottom: 160px;
	z-index: 2;
}

@media (max-width:767px){
	.Slider_Snami{padding: 50px 10px;}
}
.slick-slider{
	min-width: 0;
	text-align: center;
}
.slick-track{
	display: flex;
	align-items: center;
}
.slider {
	position: relative;
	padding: 0px 60px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}
.slider__item {
	padding: 0px 15px;
	text-align: center;
}
.slider__item_1 img{	
	padding: 29px 97px;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 5px;
}
.slider__item_2 img{	
	padding: 2px 70px;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 5px;
}
.slider__item_3 img{	
	padding: 59px 94px;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 5px;
}
.slider__item_4 img{	
	padding: 59px 52px;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 5px;
}
.slider_1 {
	position: relative;
	padding: 20px 60px;
}
.slick-slider_1{
	min-width: 0;
}
.slider_1__item_1 {
	padding: 0px 15px;
	text-align: center;
}
.slider_1__item_2 {
	padding: 0px 15px;
	text-align: center;
}
.slider_1__item_3 {
	padding: 0px 15px;
	text-align: center;
}
.slider_1__item_4 {
	padding: 0px 15px;
	text-align: center;
}
.slider_1__item_1 img{	
	padding: 29px 97px;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 5px;
}
.slider_1__item_2 img{	
	padding: 2px 70px;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 5px;
}
.slider_1__item_3 img{	
	padding: 59px 94px;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 5px;
}
.slider_1__item_4 img{	
	padding: 59px 52px;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 5px;
}
/*____KEYS________________________________________KEYS__________________________KEYS_____________________________________*/
.keys{
	width: 100%;
	max-width: 1441px;
	margin:0 auto;
flex-wrap: wrap;
flex-direction: column;
display: flex;


}
.keys_container_1{
	width: 50%;
	flex-direction: row;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	margin: 0px 130px 20px 130px;
	
}
.keys_container_2{
	width: 33.3333333%;
	flex-direction: row;
	
	margin: 0px auto;
	display: flex;
	flex-wrap: nowrap;
	margin: 0px 130px 20px 130px;
	
}
.keys_container_3{
	width: 50%;
	flex-direction: row;
	margin: 0px auto;
	display: flex;
	flex-wrap: nowrap;
	margin: 0px 130px 20px 130px;
}
.keys_item{
	position: relative;
	margin: 0px 20px 0px 0px;
}

.keys_title{
	position: absolute;
width: 320px;
height: 44px;
left: 40px;
bottom: 40px;

/* titles/h4 */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;

}
.keys_coment_1{
	position: absolute;
left: 7.89%;
right: 9.74%;
top: 71.37%;
bottom: 14.74%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;

color: #050C33;
opacity: 0.7;
}
.keys_item_1{
	position: relative;
	margin: 0px 20px 0px 0px;
}


.keys_title_1{
	position: absolute;
left: 7.89%;
right: 7.89%;
top: 53.68%;
bottom: 37.05%;

/* titles/h4 */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

/* main-black */

color: #050C33;
}
.keys_date_1{
	position: absolute;
left: 7.89%;
right: 7.89%;
top: 64%;
bottom: 32.84%;

/* labels/12-bold */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */


/* main-black */

color: #050C33;
opacity: 0.5;
}
.keys_item_2{
	position: relative;
	margin: 0px 20px 0px 0px;
}

.keys_title_2{
	position: absolute;
left: 10.53%;
right: 10.53%;
top: 76%;
bottom: 14.74%;

/* titles/h4 */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;

color: #FFFFFF;
}
.keys_date_2{
	position: absolute;
left: 10.53%;
right: 10.53%;
top: 86.32%;
bottom: 10.53%;

/* labels/12-bold */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #FFFFFF;

opacity: 0.5;
}


/*TEAM__________________________TEAM______________________TEAM_______________________________TEAM________________________*/

.container{
	width: 100%;
	max-width: 1440px;
	margin:0 auto;
}
.container_team{
	display: flex;
	flex-wrap: wrap;
	margin: 100px 0;
}
.team_item{
	width: 33.33333%;
	padding: 0 40px;
	text-align: center;
}
.team_image{
	margin-bottom: 25px;
}
.team_fio{
	margin-bottom: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: black;
}
.team_dol{
	margin: 20px 0;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #050C33;
	opacity: 0.7;
}
/*___SLIDER_OTZV_________________________________SLIDER_OTZV_____________________________________SLIDER_OTZV______________*/

.Slider_Otzv{
	margin: 0 auto;
	display: flex;
	position: relative;
}
.container_otzv{
	margin: 0 auto;
	width: 980px;
height: 416px;
z-index: 5;
	margin-bottom: 160px;
	position: relative;
	display: flex;
	background-color: #fff;
	padding: 0px 60px;
	border: 1px solid rgba(0, 0, 0, 0.1);
box-sizing: border-box;
box-shadow: 0px 4px 60px rgba(162, 162, 162, 0.25);
border-radius: 5px;
}
@media (max-width:767px){
	.Slider_Otzv{padding: 50px 10px;}
}
.slider_beg_1{
	text-align: center;
	position: absolute;
	background-color: #fff;
width: 852px;
height: 457px;
left: 500px;
top: -48px;
z-index: -1;
background: #FFFFFF;
opacity: 0.5;
border: 1px solid rgba(0, 0, 0, 0.1);
box-sizing: border-box;
box-shadow: 0px 4px 60px rgba(162, 162, 162, 0.25);
border-radius: 5px;
}
.Otzv{
	position: relative;
}
.slider_beg_2{
	position: absolute;
	background-color: #fff;
width: 724px;
height: 466px;
left: 560px;
top: -80px;
z-index: -2;
background: #FFFFFF;
opacity: 0.34;
border: 1px solid rgba(0, 0, 0, 0.1);
box-sizing: border-box;
box-shadow: 0px 4px 60px rgba(162, 162, 162, 0.25);
border-radius: 5px;

}

.slick-slider_2{
	min-width: 0;
}
.arrow_1{
	font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 28px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

/* main-black */

color: #050C33;

}
.arrow_2{
	font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 28px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

/* main-black */

color: #050C33;
}
.slick-list {
	overflow: hidden;
	
}
.slick-track{
	display: flex;
	align-items: flex-start;
}
.arrow{
	display: flex;
	position: absolute;
width: 82px;
height: 28px;
left: 780px;
top: 170px;
}
.arrow_2{
	opacity: 0.3;

}
.arrow_1{
margin-right: 10px;
}
.slider_2 {
	display: flex;
	width: 628.5px;
height: 416px;
margin: 0 auto;
left: 0px;
top: 0px;
position: absolute;
}
@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}
.slider_2 .slick-arrow{
	text-decoration: none;
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 16px;
	height: 32px;
}
.slider_2 .slick-arrow.slick-prev{
	cursor: pointer;
	position: absolute;
	left: 710px;
top: 202px;
text-decoration: none;
	background: url('../Strelki/arrow-left.svg') 0 0 / 100% no-repeat;
}
.slider_2 .slick-arrow.slick-next{
	cursor: pointer; 
	position: absolute;
	left: 884px;
top: 202px;
text-decoration: none;
	background: url('../Strelki/arrow-right.svg') 0 0 / 100% no-repeat;
}
.Slider_Otzv_item {
	
	padding: 80px 0px 88px 128px;
	margin-right: 70px;

}
.Slider_Otzv_item_img{
	padding-bottom: 41;


}
.input{
	color: #fff;
}
.palka{
	position: absolute;
width: 0px;
height: 282.5px;
left: 628.5px;
top: 67px;

opacity: 0.2;
border: 1px solid #000000;
}
.Slider_Otzv_item_text{

	
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	text-decoration-line: underline;
	padding-bottom: 28px;
/* main-black */

	color: #050C33;
}
.Slider_Otzv_item_coment{
	
	font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

/* main-black */

color: #050C33;
opacity: 0.5;

}
.vector{
	position: absolute;
	height: 282.5px;
	width: 0px;
left: 628.5px;
top: 67px;

opacity: 0.2;
border: 1px solid #000000;
}
.otzv_bac{
	display: flex;
	z-index: -1;
	opacity: 0.2;
	position: absolute;
left: 0%;
top : -250px;
}
.otzv_bac_1{
	margin-right: 70px;
}
/*____HEADD_____________________________HEADD________________________________________HEADD_______________________________*/
.headd2,.headd1,.headd3{
	margin: 0 auto;
}
.headd2,.headd1,.headd3_h{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 51px;
	text-align: center;
	color: #050C33;
}
.headd4{
	font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 51px;
margin-bottom: 19px;
color: #FFFFFF;

}
.headd2{
	margin-bottom: 119px
}
.headd3_t{
	font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
margin-bottom: 40px;
/* or 137% */

text-align: center;

/* main-black */

color: #050C33;
opacity: 0.7;

}
.sl{
	 color: #050C33;
	 text-decoration: none;
	 opacity: 1;
}
/*____MORE___________________________MORE____________________________________MORE_____________________________________*/
.more{
	margin: 0 auto;
	display: flex;


}
.more_container{
	margin: 0 auto;
	margin-bottom: 184px;
	padding: 24px 75px;
	font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

/* main-black */


/* main-black */

border: 1px solid #050C33; opacity: 0.2;
box-sizing: border-box;
border-radius: 5px;

color: #050C33;
}
/*_____FOOTER______________________FOOTER__________________________________FOOTER___________________________________*/
.footer{
	margin-top: 30px;
	width: 100%;
	height: 816px;
	position: relative;
	background: linear-gradient(261.2deg, rgba(255, 255, 255, 0.276) -114.85%, rgba(255, 255, 255, 0) 69.04%), #040613;
}
.footer_end{
	width: 100%;
	height: 150px;
	position: relative;
	background: linear-gradient(261.2deg, rgba(255, 255, 255, 0.276) -114.85%, rgba(255, 255, 255, 0) 69.04%), #040613;
}
.footer_beg{
	position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
width: 1441px;


}
.footer_bac_1{
	position: absolute;
width: 245.38px;
height: 147.23px;
left: 0px;
top: 56.89px;



}
.footer_bac_2
.footer_text{
	color: white;
}
.footer_text_coment{
	

width: 480px;
height: 88px;
margin-bottom: 142px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* or 157% */


color: #FFFFFF;

opacity: 0.7;


}
.tel{
	display: flex;
align-items: center;

}
.tel_img{
	margin-right: 21px;
}
.tel_text{
	font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */

display: flex;
align-items: center;

/* White */

color: #FFFFFF;
}
.footer_mail{
display: flex;
align-items: center;
text-decoration-line: underline;
color: #FFFFFF;
}
.footer_mail_text{
	margin-bottom: 180px;
	font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

display: flex;
align-items: center;
text-decoration-line: underline;

/* White */

color: #FFFFFF;
}
.footer_mail_img{
	margin-bottom: 174px;
	margin-right: 18.33px;
}
.footer_container{
	position: relative;
	margin: 0 auto;
	width: 50%;
	margin: 117px 130px 221px 130px;
}
.footer_content{
	margin: 0 auto;
	width: 100%;
	display: flex;
	height: 816px;
}
	

}
.footer_bac_1{
	position: absolute;
width: 245.38px;
height: 147.23px;
left: 594px;
top: 0px;
background: rgb(0,0,0,0);

	
}
.footer_bac{
	 position: absolute;
        top: 0px;
        right: 33%;
        margin: 0 auto;
        width: 273px;
}
.footer_bac_2{

	        position: absolute;
        right: 0px;
        bottom: -5px;
}
.footer_bac_2 img{
	width: 230px;
	height: 110px;
}

.palka_2{
	opacity: 0.3;
width: 100%;

position: absolute;
top : 666px;

border: 1px solid #FFFFFF;
}
.futerFormKategorii{
	margin: 26px 171px 26px 0px;
background: rgb(0,0,0,0);
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
padding:  26px 275px 26px 24px;
display: flex;
align-items: center;

color: #FFFFFF;
margin-bottom: 7px;
	opacity: 0.3;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 5px;



}
.futerFormKategorii2{
	margin: 26px 171px 86px 0px;
	font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
padding:  26px 275px 80px 24px;
display: flex;
align-items: center;
background: rgb(0,0,0,0);
color: #FFFFFF;
margin-bottom: 7px;
	opacity: 0.3;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 5px;

color: #FFFFFF;


}
.futerFormButton{
	background: #F14D34;
	border-radius: 5px;
	max-width: 480px;
	width: 221px;
	height: 60px;
	border: 0px;
	cursor: pointer;
	margin-top: 10px;

}
.futerFormButtonText{
	left: calc(50% - 138px/2);
	top: calc(50% - 12px/2);
	margin: 24px 171px;
	display: flex;
	align-items: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	opacity: 1;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	color: #FFFFFF;
	padding: 24px 171px;
	text-align: center;
}
.polya{
	margin-right: 100px;
	background: rgb(0,0,0,0);
	top: -50px;
}
.obolochka_polya{
	margin-bottom: 7px;
	opacity: 0.3;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 5px;

}
.futerFormLabel{

	
	font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
padding:  26px 0px 26px 0px;
color: #FFFFFF;

}
.footer_end{
	margin: 0 auto;
	width: 100%;
	display: flex;
}
.footer_end_text_1{
	margin: 0 auto;
	display: flex;
	font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
opacity: 0.5;

}
.footer_end_text_2{
	margin: 0 auto;
	display: flex;
	font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
opacity: 0.5;
}
::-webkit-input-placeholder {
        text-indent: 24px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }
  

:focus::-webkit-input-placeholder {​​​​​​​​
color: transparent;
    }​​​​​​​​
::-webkit-input-placeholder {​​​​​​​​
color: #ffffff
    }​​​​​​​​
.input {​​​​​​​​
color: #FFFFFF;
    }​​​​​​​​

<https://teams.microsoft.com/l/message/19:8e7cd967882d4be6a17420d2180c1f6f@thread.tacv2/1608481718309?tenantId=6d37bb02-675c-4e1e-ae02-0aa598c9ce76&amp;groupId=c0b60df0-76f1-4323-8cb8-d984c9a6a34f&amp;parentMessageId=1608481069169&amp;teamName=Дискотека&amp;channelName=Общий&amp;createdTime=1608481718309>
.futerFormKategorii {
        max-width: 480px;
        height: 68px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        border-radius: 5px;
        margin-bottom: 7px;
        background: rgba(0, 0, 0, 0);
        color: #FFFFFF;
    }
